USE [master]
GO
/****** Object:  Database [resto_db]    Script Date: 28/02/2026 21:33:58 ******/
CREATE DATABASE [resto_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'resto_db', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\resto_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'resto_db_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\resto_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [resto_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [resto_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/02/2026 21:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailTransaksi]    Script Date: 28/02/2026 21:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailTransaksi](
	[id_detailtransaksi] [int] IDENTITY(1,1) NOT NULL,
	[id_transaksi] [int] NOT NULL,
	[id_menu] [int] NOT NULL,
	[jumlah] [int] NOT NULL,
	[subtotal] [decimal](18, 2) NOT NULL,
	[metode] [nvarchar](max) NOT NULL,
	[catatan] [nvarchar](500) NULL,
	[status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DetailTransaksi] PRIMARY KEY CLUSTERED 
(
	[id_detailtransaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 28/02/2026 21:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[id_kategori] [int] IDENTITY(1,1) NOT NULL,
	[nama_kategori] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[id_kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meja]    Script Date: 28/02/2026 21:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meja](
	[id_meja] [int] IDENTITY(1,1) NOT NULL,
	[no_meja] [nvarchar](10) NOT NULL,
	[status] [nvarchar](max) NOT NULL,
	[kapasitas] [int] NOT NULL,
 CONSTRAINT [PK_Meja] PRIMARY KEY CLUSTERED 
(
	[id_meja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 28/02/2026 21:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id_menu] [int] IDENTITY(1,1) NOT NULL,
	[nama_menu] [nvarchar](255) NOT NULL,
	[harga] [decimal](18, 2) NOT NULL,
	[id_kategori] [int] NOT NULL,
	[status] [nvarchar](max) NOT NULL,
	[stok] [int] NOT NULL,
	[foto_menu] [nvarchar](500) NULL,
	[deskripsi] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[id_menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pegawai]    Script Date: 28/02/2026 21:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pegawai](
	[id_pegawai] [int] IDENTITY(1,1) NOT NULL,
	[nama_pegawai] [nvarchar](255) NOT NULL,
	[no_hp] [nvarchar](20) NOT NULL,
	[alamat] [nvarchar](500) NOT NULL,
	[jabatan] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Pegawai] PRIMARY KEY CLUSTERED 
(
	[id_pegawai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaksi]    Script Date: 28/02/2026 21:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaksi](
	[id_transaksi] [int] IDENTITY(1,1) NOT NULL,
	[nama_konsumen] [nvarchar](255) NOT NULL,
	[total_bayar] [decimal](18, 2) NOT NULL,
	[tanggal_transaksi] [datetime2](7) NOT NULL,
	[status] [nvarchar](450) NOT NULL,
	[id_user] [int] NULL,
	[id_meja] [int] NULL,
	[pembayaran] [nvarchar](max) NULL,
	[catatan] [nvarchar](500) NULL,
	[tipe] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Transaksi] PRIMARY KEY CLUSTERED 
(
	[id_transaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UpdateStokMenu]    Script Date: 28/02/2026 21:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UpdateStokMenu](
	[id_update] [int] IDENTITY(1,1) NOT NULL,
	[id_menu] [int] NOT NULL,
	[jumlah] [int] NOT NULL,
	[tgl_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UpdateStokMenu] PRIMARY KEY CLUSTERED 
(
	[id_update] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28/02/2026 21:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[id_karyawan] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260203091647_InitialCreate', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260219123437_AddOrderSystemAndLaporan', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260219132223_SimplifyTransaksi', N'9.0.11')
GO
SET IDENTITY_INSERT [dbo].[DetailTransaksi] ON 

INSERT [dbo].[DetailTransaksi] ([id_detailtransaksi], [id_transaksi], [id_menu], [jumlah], [subtotal], [metode], [catatan], [status]) VALUES (1, 1, 10, 1, CAST(7000.00 AS Decimal(18, 2)), N'TakeAway', N'', N'Dipesan')
INSERT [dbo].[DetailTransaksi] ([id_detailtransaksi], [id_transaksi], [id_menu], [jumlah], [subtotal], [metode], [catatan], [status]) VALUES (2, 2, 15, 1, CAST(10000.00 AS Decimal(18, 2)), N'TakeAway', N'', N'Diproses')
INSERT [dbo].[DetailTransaksi] ([id_detailtransaksi], [id_transaksi], [id_menu], [jumlah], [subtotal], [metode], [catatan], [status]) VALUES (3, 2, 13, 1, CAST(10000.00 AS Decimal(18, 2)), N'TakeAway', N'', N'Diproses')
SET IDENTITY_INSERT [dbo].[DetailTransaksi] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([id_kategori], [nama_kategori]) VALUES (1, N'Paket Nasi')
INSERT [dbo].[Kategori] ([id_kategori], [nama_kategori]) VALUES (2, N'Snack')
INSERT [dbo].[Kategori] ([id_kategori], [nama_kategori]) VALUES (3, N'Menu Utama')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[Meja] ON 

INSERT [dbo].[Meja] ([id_meja], [no_meja], [status], [kapasitas]) VALUES (1, N'01', N'Terisi', 4)
INSERT [dbo].[Meja] ([id_meja], [no_meja], [status], [kapasitas]) VALUES (2, N'02', N'Terisi', 4)
INSERT [dbo].[Meja] ([id_meja], [no_meja], [status], [kapasitas]) VALUES (3, N'03', N'Terisi', 4)
SET IDENTITY_INSERT [dbo].[Meja] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([id_menu], [nama_menu], [harga], [id_kategori], [status], [stok], [foto_menu], [deskripsi]) VALUES (1, N'Nasi Goreng Spesial', CAST(25000.00 AS Decimal(18, 2)), 1, N'Tersedia', 36, NULL, N'Nasi goreng dengan telur, ayam, dan sayuran segar')
INSERT [dbo].[Menu] ([id_menu], [nama_menu], [harga], [id_kategori], [status], [stok], [foto_menu], [deskripsi]) VALUES (2, N'Mie Goreng', CAST(20000.00 AS Decimal(18, 2)), 1, N'Tersedia', 40, NULL, N'Mie goreng dengan telur dan sayuran')
INSERT [dbo].[Menu] ([id_menu], [nama_menu], [harga], [id_kategori], [status], [stok], [foto_menu], [deskripsi]) VALUES (3, N'Ayam Goreng', CAST(30000.00 AS Decimal(18, 2)), 1, N'Tersedia', 30, NULL, N'Ayam goreng crispy dengan nasi putih')
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Pegawai] ON 

INSERT [dbo].[Pegawai] ([id_pegawai], [nama_pegawai], [no_hp], [alamat], [jabatan]) VALUES (1, N'Aji Diaz', N'081234567890', N'Jl. Sudirman No. 123, Jakarta', N'Owner')
INSERT [dbo].[Pegawai] ([id_pegawai], [nama_pegawai], [no_hp], [alamat], [jabatan]) VALUES (2, N'Wahyu Mantap', N'081234567891', N'Jl. Thamrin No. 45, Jakarta', N'Manajer')
INSERT [dbo].[Pegawai] ([id_pegawai], [nama_pegawai], [no_hp], [alamat], [jabatan]) VALUES (3, N'Budi Santoso', N'081234567892', N'Jl. Gatot Subroto No. 78, Jakarta', N'Kasir')
SET IDENTITY_INSERT [dbo].[Pegawai] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaksi] ON 

INSERT [dbo].[Transaksi] ([id_transaksi], [nama_konsumen], [total_bayar], [tanggal_transaksi], [status], [id_user], [id_meja], [pembayaran], [catatan], [tipe]) VALUES (1, N'Aji', CAST(7000.00 AS Decimal(18, 2)), CAST(N'2026-02-11T08:57:55.9945468' AS DateTime2), N'Selesai', 3, 1, N'Cash', NULL, N'0')
INSERT [dbo].[Transaksi] ([id_transaksi], [nama_konsumen], [total_bayar], [tanggal_transaksi], [status], [id_user], [id_meja], [pembayaran], [catatan], [tipe]) VALUES (2, N'Diaz', CAST(20000.00 AS Decimal(18, 2)), CAST(N'2026-02-11T09:44:09.6692683' AS DateTime2), N'Pending', 3, 2, N'Cash', NULL, N'0')
INSERT [dbo].[Transaksi] ([id_transaksi], [nama_konsumen], [total_bayar], [tanggal_transaksi], [status], [id_user], [id_meja], [pembayaran], [catatan], [tipe]) VALUES (3, N'Aji', CAST(25000.00 AS Decimal(18, 2)), CAST(N'2026-02-19T16:00:56.3774923' AS DateTime2), N'Selesai', 1, 1, N'Cash', NULL, N'0')
SET IDENTITY_INSERT [dbo].[Transaksi] OFF
GO
SET IDENTITY_INSERT [dbo].[UpdateStokMenu] ON 

INSERT [dbo].[UpdateStokMenu] ([id_update], [id_menu], [jumlah], [tgl_update]) VALUES (1, 10, -1, CAST(N'2026-02-11T08:57:56.3324033' AS DateTime2))
INSERT [dbo].[UpdateStokMenu] ([id_update], [id_menu], [jumlah], [tgl_update]) VALUES (2, 15, -1, CAST(N'2026-02-11T09:44:09.7249703' AS DateTime2))
INSERT [dbo].[UpdateStokMenu] ([id_update], [id_menu], [jumlah], [tgl_update]) VALUES (3, 13, -1, CAST(N'2026-02-11T09:44:09.7250687' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UpdateStokMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id_user], [Username], [Password], [Email], [Role], [Status], [id_karyawan]) VALUES (1, N'owner1', N'password123', N'owner@resto.com', N'Owner', N'Aktif', 1)
INSERT [dbo].[User] ([id_user], [Username], [Password], [Email], [Role], [Status], [id_karyawan]) VALUES (2, N'manajer1', N'password123', N'manajer@resto.com', N'Manajer', N'Aktif', 2)
INSERT [dbo].[User] ([id_user], [Username], [Password], [Email], [Role], [Status], [id_karyawan]) VALUES (3, N'kasir1', N'password123', N'kasir1@resto.com', N'Kasir', N'Aktif', 3)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_DetailTransaksi_id_menu]    Script Date: 28/02/2026 21:33:59 ******/
CREATE NONCLUSTERED INDEX [IX_DetailTransaksi_id_menu] ON [dbo].[DetailTransaksi]
(
	[id_menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetailTransaksi_id_transaksi]    Script Date: 28/02/2026 21:33:59 ******/
CREATE NONCLUSTERED INDEX [IX_DetailTransaksi_id_transaksi] ON [dbo].[DetailTransaksi]
(
	[id_transaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Menu_id_kategori]    Script Date: 28/02/2026 21:33:59 ******/
CREATE NONCLUSTERED INDEX [IX_Menu_id_kategori] ON [dbo].[Menu]
(
	[id_kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transaksi_id_meja]    Script Date: 28/02/2026 21:33:59 ******/
CREATE NONCLUSTERED INDEX [IX_Transaksi_id_meja] ON [dbo].[Transaksi]
(
	[id_meja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transaksi_id_user]    Script Date: 28/02/2026 21:33:59 ******/
CREATE NONCLUSTERED INDEX [IX_Transaksi_id_user] ON [dbo].[Transaksi]
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transaksi_status]    Script Date: 28/02/2026 21:33:59 ******/
CREATE NONCLUSTERED INDEX [IX_Transaksi_status] ON [dbo].[Transaksi]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transaksi_tanggal_transaksi]    Script Date: 28/02/2026 21:33:59 ******/
CREATE NONCLUSTERED INDEX [IX_Transaksi_tanggal_transaksi] ON [dbo].[Transaksi]
(
	[tanggal_transaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UpdateStokMenu_id_menu]    Script Date: 28/02/2026 21:33:59 ******/
CREATE NONCLUSTERED INDEX [IX_UpdateStokMenu_id_menu] ON [dbo].[UpdateStokMenu]
(
	[id_menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_id_karyawan]    Script Date: 28/02/2026 21:33:59 ******/
CREATE NONCLUSTERED INDEX [IX_User_id_karyawan] ON [dbo].[User]
(
	[id_karyawan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetailTransaksi]  WITH CHECK ADD  CONSTRAINT [FK_DetailTransaksi_Menu_id_menu] FOREIGN KEY([id_menu])
REFERENCES [dbo].[Menu] ([id_menu])
GO
ALTER TABLE [dbo].[DetailTransaksi] CHECK CONSTRAINT [FK_DetailTransaksi_Menu_id_menu]
GO
ALTER TABLE [dbo].[DetailTransaksi]  WITH CHECK ADD  CONSTRAINT [FK_DetailTransaksi_Transaksi_id_transaksi] FOREIGN KEY([id_transaksi])
REFERENCES [dbo].[Transaksi] ([id_transaksi])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetailTransaksi] CHECK CONSTRAINT [FK_DetailTransaksi_Transaksi_id_transaksi]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Kategori_id_kategori] FOREIGN KEY([id_kategori])
REFERENCES [dbo].[Kategori] ([id_kategori])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Kategori_id_kategori]
GO
ALTER TABLE [dbo].[Transaksi]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Meja_id_meja] FOREIGN KEY([id_meja])
REFERENCES [dbo].[Meja] ([id_meja])
GO
ALTER TABLE [dbo].[Transaksi] CHECK CONSTRAINT [FK_Transaksi_Meja_id_meja]
GO
ALTER TABLE [dbo].[Transaksi]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_User_id_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Transaksi] CHECK CONSTRAINT [FK_Transaksi_User_id_user]
GO
ALTER TABLE [dbo].[UpdateStokMenu]  WITH CHECK ADD  CONSTRAINT [FK_UpdateStokMenu_Menu_id_menu] FOREIGN KEY([id_menu])
REFERENCES [dbo].[Menu] ([id_menu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UpdateStokMenu] CHECK CONSTRAINT [FK_UpdateStokMenu_Menu_id_menu]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Pegawai_id_karyawan] FOREIGN KEY([id_karyawan])
REFERENCES [dbo].[Pegawai] ([id_pegawai])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Pegawai_id_karyawan]
GO
USE [master]
GO
